@model IEnumerable<Movie_Site.Models.Movie>
<!-- Section -->
<section class="md-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">

                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mdescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageUrl)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mdescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- End / Section -->