@model IEnumerable<Movie_Site.Models.Movie>

<section class="md-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">

                <!-- title-01 -->
                <div class="title-01 title-01__style-04">
                    <h2 class="title-01__title">List of Movies</h2>
                    <br /><br /><br />
                </div><!-- End / title-01 -->

            </div>
        </div>
    </div>
</section>

<section class="md-section" style="background-color:#f7f7f7;padding:0;">
    <div class="container">
        <div class="textbox-group">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-lg-4 ">
                        <!-- textbox -->
                        <div class="textbox">

                        @* In order to use onclick to submit dynamic forms, I had to create different form names
                            Using the same form names resulted in only the first variable to be posted. *@
                            <form id="Movie @item.MovieId" asp-controller="Movies" asp-action="SelectCineplex" method="post">
                                <input type="hidden" value="@item.MovieId" name="id" />
                                
                                    <div class="textbox__image">
                                        <a href="#" onclick="document.forms['Movie @item.MovieId'].submit();">
                                            <img class="" src="@item.ImageUrl" alt="" />
                                        </a>
                                    </div>
                                    <div class="textbox__body">
                                        <a href="#" onclick="document.forms['Select @item.MovieId'].submit();">
                                            <h2 class="textbox__title">@item.Title</h2>
                                        </a>
                                        <div class="textbox__description">@item.Mdescription</div>
                                    </div>
                            </form> 
                        </div><!-- End / textbox -->                    
                    </div>
                }
            </div>
        </div>
    </div>
</section>